.product-detail-body .image {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.product-detail-body .image img {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.product-detail-body .summary-product {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

.product-detail-body .summary-qty {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

.product-img-detail {
    width: 17rem;
    border-radius: 5px 5px 5px 5px;
}

.summary-product .title .sell-rating .sell p {
    display: inline;
    color: #685e5e;
}

.summary-product .title .sell-rating .divider {
    margin-left: 5px;
    margin-right: 5px;
}

.summary-product .title .sell-rating .rating p {
    display: inline;
    color: #685e5e;
}

.summary-product .title h3 {
    margin-bottom: 0;
}

.summary-product .title .sell-rating .rating svg {
    margin-top: -3px;
    margin-right: 2px;
    color: #f8a13d;
}

.summary-product .price {
    margin-top: 1vh;
}
.summary-product .price h2 {
    margin-bottom: 0;
}

.summary-product .price .disc {
    text-decoration: line-through;
}

.summary-product .price .disc span{
    margin-right: 3px;
}

.summary-product .description .body {
    margin-top: 1vh;
}

.summary-qty .card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.summary-qty .qty-stock .stock-detail {
    margin-left: 1rem;
    margin-top: 1vm;
}

.summary-qty .qty-stock .qty-control-detail svg {
    vertical-align: 0 !important;
}

.summary-qty .qty-stock .qty-control-detail .btn-minus-detail {
    border-radius: 5px      0       0       5px;
                /* top-left top-right bottom-right bottom-left. */
    border-right: none;
    border-width: thin;
    background: white;
    height: 30px;
}

.summary-qty .qty-stock .qty-control-detail .form-qty-control {
    border-right: none;
    border-left: none;
    border-width: thin;
    height: 30px;
}

.summary-qty .qty-stock .qty-control-detail .form-qty-control:focus {
    outline: none;
}

.summary-qty .qty-stock .qty-control-detail .btn-plus-detail {
    border-radius: 0      5px       5px       0;
                /* top-left top-right bottom-right bottom-left. */
    border-left: none;
    border-width: thin;
    background: white;
    height: 30px;
}


.summary-qty .notes a {
    text-decoration: none;
    color: #6c757d !important;
    cursor: pointer;    
}

.summary-qty .notes input {
    width: 80%;
}

.summary-qty .disc {
    margin-top: 2vh;
    text-align: right;
    text-decoration: line-through;
}


