.loginContainer { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    min-height: 100vh;
}

.loginLink {
    text-decoration: none;
    color: #6c757d;
}

.loginLink:hover {
    color: #343a40;
}

.loginCard { 
    height: auto;
    width: 30%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}